---
import BlogCarousel from "../../components/BlogCarousel/BlogCarousel.astro";
import BaseLayout from "../../layouts/BaseLayout.astro";

const title = "BuildSystems | Dekarbonisierung";
const description =
  "BuildSystems ebnet den Weg zur Digitalisierung durch softwaregestütztes Consulting. Dafür verbinden wir existierende Praxis mit innovativen Prozessen und Tools.";
const image = "/images/services-smart-sustainability-roadmap.png";
const current = "services/dekarbonisierung";
---

<BaseLayout
  title={title}
  description={description}
  heroImage={image}
  current={current}>
  <div class="frame primary-font-size primary-height primary-margin-top">
    <h2 class="sticky">
      begleitet Sie zur Klima­neutralität. Ob operative und graue Emissionen oder Zirkularität, wir erarbeiten gemeinsam
      mit Ihnen Ziele der <span class="font-secondary green">Dekarbonisierung</span> und erschließen Handlungsräume.
    </h2>
  </div>

  <div
    class="frame"
    id="strategieentwicklung-esg-und-dekarbonisierung">
    <h2>Dekar­bo­ni­sie­rung auf Unternehmens­ebene</h2>
    <div class="list-text-grid">
      <div class="msg-tertiary">
        <p>
          Strategie und Planung: Möchten Sie klare Ziele und eine Timeline zur Klimaneutralität für Ihr Unternehmen und
          Ihre Projekte aufstellen? BuildSystems unterstützt Sie dabei, operative und strategische Maßnahmen
          praxisorientiert zu implementieren.
        </p>
        <p>
          Investoren und Anlegende achten zunehmend auf die Umwelt­auswirkung der Wirtschafts­tätigkeit von Unternehmen.
          Positionieren Sie sich als Vorreiter in der Branche, indem Sie Ihr klares Commitment zur Klima­neutralität
          qualitativ nachweisen und kommunizieren Sie Ihren Impact und Ihre ESG-Performance transparent – ohne
          Greenwashing. So nutzen Sie Ihre spezifische Umwelt­entlastung als Verkaufs­argument und gewährleisten die
          Wert­beständigkeit Ihrer Assets. Reagieren Sie damit nicht nur unter Hochdruck auf Taxonomie- und
          Reporting-Anforderungen, sondern nutzen Sie diese zu Ihrem Vorteil.
        </p>
      </div>
      <ul class="list-pill">
        <li>Erarbeitung der unternehmenseigenen Vision und Mission</li>
        <li>Identifizierung individueller Wachstumspotenziale im Bereich 'Green Asset'</li>
        <li>Erstellung von Entwicklungsszenarien zu Dekarbonisierung und zirkulärem Bauen</li>
        <li>Ausarbeitung einer Nachhaltigkeitsstrategie in Bezug auf gesetzliche Vorgaben und individuelle Ziele</li>
        <li>Erarbeitung von Rahmenwerken und KPIs für Investitionsentscheidungen und Wachstumsstrategien</li>
        <li>Entwicklung nachhaltiger Zielpfade und Benchmarks für das Projektgeschäft</li>
        <li>Sparring bei der Erarbeitung von Nachhaltigkeitsberichten und Kommunikationsmaterialien</li>
      </ul>
    </div>
  </div>
  <div style="min-height: 50svh; min-width: 50%; background: #333; margin: 5%; text-align:center; color: white">
    Chart Placeholder
  </div>
  <div
    class="frame"
    id="portfoliodekarbonisierung">
    <h2>Dekarbonisierung von Portfolien</h2>
    <div class="list-text-grid">
      <div class="msg-tertiary">
        <p>
          Betreiben und Optimieren: Sie möchten ein Stranding Ihrer Assets vermeiden und den Reporting-Anforderungen
          zuvorzukommen? BuildSystems schafft Planbarkeit durch die Quantifizierung von Klima- und Stranding­risiken und
          erschließt ökonomische Optimierungs­potenziale.
        </p>
        <p>
          Mieter und potentielle Käufer von Immobilien haben zunehmend höhere Ansprüche an den Raumkomfort und den
          effizienten Betrieb. Deshalb ist es unerlässlich, Gebäude­portfolien zu dekarbonisieren und eine entsprechende
          Umwelt­entlastung nachzuweisen. Treiben Sie mit BuildSystems die Aufwertung Ihres Portfolios strategisch und
          effektiv voran. Mit Ihrem Dekarbonisierungs­fahrplan treffen Sie fundierte Entscheidungen, wie Sie Kapazitäten
          und Finanzmittel zuweisen, Ihre Vermögens­werte steuern oder Projekte (re)finanzieren.
        </p>
        <p>Wir berücksichtigen mögliche Zukunfts­szenarien, wie z.B. die Einführung des CO2-Zertifikathandels.</p>
      </div>
      <ul class="list-pill">
        <li>Analyse Ihres Portfolios hinsichtlich Energieverbrauch und Energiebedarf</li>
        <li>Prüfung von Stranding-Risiken (u.a. nach CRREM)</li>
        <li>Identifizierung von Datenlücken und notwendiger Mittel der Datenbeschaffung</li>
        <li>Erstellung eines Nachhaltigkeitsfahrplans für Ihr Portfolio</li>
        <li>Integration von ökologischen, wirtschaftlichen und sozialverträglichen Maßnahmen in den Umsetzungsplan</li>
        <li>Berücksichtigung von Fördermöglichkeiten sowie Amortisationszeiträumen</li>
        <li>Erstellung von Handlungsempfehlungen beispielsweise zu Halten, Entwickeln, oder Veräußern</li>
      </ul>
    </div>
  </div>
  <BlogCarousel />
</BaseLayout>

<style></style>
