  @font-face {
    font-family: "ABC Diatype";
    src:
      local("ABC Diatype"),
      url("/fonts/ABCDiatype-Medium.woff2") format("woff2"),
      url("/fonts/ABCDiatype-Medium.woff") format("woff"),
      url("/fonts/ABCDiatype-Medium.otf") format("opentype");
    font-weight: 500;
    font-display: swap;
  }

   @font-face {
    font-family: "ABC Diatype Mono";
    src:
      local("ABC Diatype Mono"),
      url("/fonts/ABCDiatypeMono-Medium.woff2") format("woff2"),
      url("/fonts/ABCDiatypeMono-Medium.woff") format("woff"),
      url("/fonts/ABCDiatypeMono-Medium.otf") format("opentype");
    font-weight: 500;
    font-display: swap;
  }