:root {
  --background-body: #222;
  --background-cards: #3c3c3c;
  --text-main: #d9d9d9;
  --text-secondary: #ccc;
  --primary-color: #d9d9d9;
  --font-family-primary: ABC Diatype, sans-serif, -apple-system, system-ui;
  --font-family-secondary: ABC Diatype Mono, sans-serif, -apple-system, system-ui;
  --font-alt: -apple-system, BlinkMacSystemFont, system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif,
    "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  --layout-padding: 1rem;
  --card-border-radius: 0.5rem;

  --left-padding-general: 315px;
  --right-padding-general: 10%;
  --primary-msg-size-general: 2.65rem;
  --primary-msg-line-height-general: 2.7rem;
  --secondary-msg-size-general: 1.6rem;
  --secondary-msg-line-height-general: 1.7rem;
  --sticky-padding-general: 0.85rem;

  --left-padding-desktop: 215px;
  --right-padding-desktop: 10%;
  --primary-msg-size-desktop: 1.8rem;
  --primary-msg-line-height-desktop: 1.9rem;
  --secondary-msg-size-desktop: 1.5rem;
  --secondary-msg-line-height-desktop: 1.55rem;
  --sticky-padding-desktop: 0.6rem;

  --primary-left-padding-tablet: 5%;
  --primary-right-padding-tablet: 5%;
  --secondary-left-padding-tablet: 5%;
  --secondary-right-padding-tablet: 5%;
  --primary-msg-size-tablet: 1.6rem;
  --primary-msg-line-height-tablet: 1.7rem;
  --secondary-msg-size-tablet: 1.5rem;
  --secondary-msg-line-height-tablet: 1.55rem;
  --sticky-padding-tablet: 0.58rem;

  --left-padding-mobile: 10px;
  --right-padding-mobile: 10px;
  --primary-msg-size-mobile: 1.35rem;
  --primary-msg-line-height-mobile: 1.45rem;
  --secondary-msg-size-mobile: 1.25rem;
  --secondary-msg-line-height-mobile: 1.3rem;
  --sticky-padding-mobile: 0.55rem;

  --bezier-animation: cubic-bezier(0.8, 0, 0.3, 1);
  --animation-time: 3.3s;
  --animation-delay: 0.5s;

  --bezier-animation-star: cubic-bezier(0, 0, 0.5, 1);
}

:root.theme-dark {
  --background-body: #222;
  --text-main: #d9d9d9;
  --text-secondary: #ccc;
  --primary-color: aquamarine;
}

html {
  /* overflow-y: scroll; */
  scroll-behavior: smooth;
}

.green {
  color: #24b54a;
}

.font-secondary {
  font-family: var(--font-family-secondary);
}

::-webkit-scrollbar {
  width: 0.1rem;
}

::-webkit-scrollbar-track {
  background: var(--background-body);
}

::-webkit-scrollbar-thumb {
  background: var(--primary-color);
}

@supports (scrollbar-gutter: stable) {
  html {
    overflow-y: auto;
    scrollbar-gutter: stable;
  }
}

*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  font-family: var(--font-family-primary);
  font-size: 16px;
  line-height: 1.6;
  background-color: var(--background-body);
  color: var(--text-main);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
  line-height: 1.1;
  margin: 0 0 0.5rem 0;
}

h1 {
  font-family: var(--font-family-primary);
  font-size: 4rem;
  margin: 0 0 1rem 0;
}

h2 {
  margin: 1rem 0 1rem 0;
  font-size: var(--primary-msg-size-general);
}

h3 {
  font-size: var(--secondary-msg-size-general);
  font-family: var(--font-family-primary);
}

h4 {
  font-size: 1.4rem;
}

h5 {
  font-size: 1.2rem;
}

h6 {
  font-size: 1.1rem;
}

ol,
ul {
  padding-left: 2rem;
  -webkit-padding-start: 5%;
  -webkit-padding-end: 5%;
}

li p {
  margin-bottom: 0.5rem;
  margin-top: 0.5rem;
}

p {
  margin-top: 0;
}

ul {
  list-style-type: none;
  padding-top: 0;
  margin-top: 0;
  padding-left: 0;
}

ul li::before {
  content: "â—"; /* Use a bullet point character as content */
  display: inline-block;
  margin-right: 0.2rem;
}

a {
  color: inherit;
  transition: color linear 0.15s;
}

a:hover {
  color: var(--primary-color);
}

p a {
  text-decoration: none;
  box-shadow: inset 0 -0.12em 0 var(--primary-color);
  -webkit-transition:
    box-shadow 0.2s ease-in-out,
    color 0.2s ease-in-out;
  transition:
    box-shadow 0.2s ease-in-out,
    color 0.2s ease-in-out;
}

p a:hover {
  box-shadow: inset 0 -1.5em 0 var(--primary-color);
  color: var(--text-main);
}

img {
  max-width: 100%;
  height: auto;
}

code {
  font-family: "SF Mono", menlo, inconsolata, monospace;
  font-size: calc(1em - 2px);
  color: var(--text-secondary);
  padding: 0.2em 0.4em;
  border-radius: 2px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

pre {
  border-radius: 8px !important;
  margin: 1.2em 0 !important;
  padding: 1.2em;
}

pre code {
  padding: 0;
}

blockquote {
  border-left: 4px solid #cccccc;
  font-size: 1.4em;
  font-style: italic;
  margin: 2rem 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

blockquote p {
  padding-bottom: 6px;
}

blockquote footer {
  font-size: 1.1rem;
  text-align: right;
}

figure {
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  margin: 0 0 3em 0;
}

table {
  border-collapse: collapse;
  font-family: var(--font-family-secondary);
  font-size: 1.125em;
  margin: 2em 0;
}

th {
  border-bottom: 2px solid #cccccc;
  padding: 0.4em 0.8em;
}

td {
  padding: 0.4em 0.8em;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content p img {
  border-radius: var(--card-border-radius);
}

.content p {
  hyphens: auto;
  width: clamp(200px, 100%, 700px)
}

.theme-toggle {
  display: inline-flex;
  align-items: center;
  height: 100%;
  padding: 0.33em 0.67em;
  padding-top: 8px;
  margin-left: 10px;
  gap: 0.6em;
  border-radius: 99em;
  background-color: var(--theme-code-inline-bg);
}

.theme-toggle > label:focus-within {
  outline: 2px solid transparent;
  box-shadow:
    0 0 0 0.08em var(--theme-accent),
    0 0 0 0.12em white;
}

.theme-toggle > label {
  color: var(--theme-code-inline-text);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.5;
  cursor: pointer;
}

.theme-toggle .checked {
  color: var(--theme-accent);
  opacity: 1;
}

input[name="theme-toggle"] {
  position: absolute;
  opacity: 0;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -1;
}

.blend {
  mix-blend-mode: difference;
}

.frame {
  padding-left: var(--left-padding-general);
  padding-right: var(--right-padding-general);
  align-self: start;
  user-select: none;
}

.primary-font-size {
  font-size: var(--primary-msg-size-general);
}

.primary-height {
  min-height: 80svh;
}

.primary-margin-top {
  margin-top: 35svh;
}

.msg-secondary {
  font-size: var(--secondary-msg-size-general);
  line-height: var(--secondary-msg-line-height-general);
  min-height: 30svh;
}

.msg-tertiary {
  font-size: 1.3rem;
  line-height: 1.45rem;
  max-height: fit-content;
}

.sticky {
  position: sticky;
  top: 0;
  padding-top: var(--sticky-padding-general);
  h2 {
    margin-top: 0;
  }
  a {
    padding-top: var(--sticky-padding-general);
  }
}

.intro-breath {
  display: flex;
  flex-wrap: wrap;
  height: 100svh;
  align-content: center;
}

.visuallyHidden {
  display: none;
}

.sr-only {
  border: 0;
  padding: 0;
  margin: 0;
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  /* IE6, IE7 - a 0 height clip, off to the bottom right of the visible 1px box */
  clip: rect(1px 1px 1px 1px);
  /* maybe deprecated but we need to support legacy browsers */
  clip: rect(1px, 1px, 1px, 1px);
  /* modern browsers, clip-path works inwards from each corner */
  clip-path: inset(50%);
  /* added line to stop words getting smushed together (as they go onto seperate lines and some screen readers do not understand line feeds as a space */
  white-space: nowrap;
}

.image-text-grid {
  display: grid;
  align-items: center;
  gap: 2rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.list-text-grid {
  display: grid;
  align-items: start;
  gap: 2rem;
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.table-grid {
  display: grid;
  grid-template-columns: auto auto;
  column-gap: 2rem;
  & ul {
    font-size: 1.3rem;
    line-height: 1.45rem;
  }
}

.list-pill {
  height: 100%;
  li {
    background-color: var(--background-cards);
    margin-bottom: 0.25rem;
    padding: 0.75rem;
    border-radius: var(--card-border-radius);
  }
}

@media (max-width: 1280px) {
  .frame {
    padding-left: var(--left-padding-desktop);
    padding-right: var(--right-padding-desktop);
  }

  .table-msg {
    font-size: 1.2rem;
    line-height: 1.3rem;
  }

  h1 {
    font-size: var(--primary-msg-size-desktop);
  }

  h2 {
    font-size: var(--primary-msg-size-desktop);
  }

  .primary-font-size {
    font-size: var(--primary-msg-size-desktop);
    line-height: var(--primary-msg-line-height-desktop);
  }

  .primary-height {
    min-height: 70svh;
  }

  .primary-margin-top {
    margin-top: 20svh;
  }

  h3 {
    font-size: var(--secondary-msg-size-desktop);
  }

  .msg-secondary {
    font-size: var(--secondary-msg-size-desktop);
    line-height: var(--secondary-msg-line-height-desktop);
  }

  .sticky {
    padding-top: var(--sticky-padding-desktop);
    a {
      padding-top: var(--sticky-padding-desktop);
    }
  }
}

@media (max-width: 1100px) {
  .image-text-grid {
    display: flex;
    flex-direction: column;
  }

  .table-grid {
    grid-template-columns: 1fr 3fr;
    & ul {
      font-size: 1.2rem;
      line-height: 1.3rem;
    }
  }
}

@media (max-width: 920px) {
  .image-text-grid {
    padding-left: var(--primary-left-padding-tablet);
    padding-right: var(--primary-right-padding-tablet);
    & p {
      margin-bottom: 1rem;
    }
  }

  .table-grid {
    grid-template-columns: 1fr;
    padding-left: var(--primary-left-padding-tablet);
    padding-right: var(--primary-right-padding-tablet);
    & h3 {
      margin-top: 1rem;
      margin-bottom: 0;
    }
  }
}

@media (max-width: 625px) {
  h2 {
    font-size: var(--primary-msg-size-tablet);
  }

  .frame {
    padding-left: var(--primary-left-padding-tablet);
    padding-right: var(--primary-right-padding-tablet);
  }

  .primary-font-size {
    font-size: var(--primary-msg-size-tablet);
    line-height: var(--primary-msg-line-height-tablet);
  }

  .primary-height {
    min-height: 70svh;
  }

  .primary-margin-top {
    margin-top: 40svh;
  }

  h3 {
    font-size: var(--secondary-msg-size-tablet);
  }

  .msg-secondary {
    padding-left: var(--secondary-left-padding-tablet);
    padding-right: var(--secondary-right-padding-tablet);
    font-size: var(--secondary-msg-size-tablet);
    line-height: var(--secondary-msg-line-height-tablet);
    min-height: 20svh;
  }

  .sticky {
    padding-top: var(--sticky-padding-tablet);
    a {
      padding-top: var(--sticky-padding-tablet);
    }
  }

  .sticky::before {
    content: "BuildSystems";
    letter-spacing: 0.06rem;
    opacity: 0;
  }

  .table-grid {
    & ul {
      font-size: 1.1rem;
      line-height: 1.2rem;
    }
  }
}

@media (max-width: 420px) {
  .frame {
    padding-left: var(--left-padding-mobile);
    padding-right: var(--right-padding-mobile);
  }

  h2 {
    font-size: var(--primary-msg-size-mobile);
  }

  .primary-font-size {
    font-size: var(--primary-msg-size-mobile);
    line-height: var(--primary-msg-line-height-mobile);
  }

  .primary-height {
    min-height: 60svh;
  }

  .primary-margin-top {
    margin-top: 30svh;
  }

  .sticky::before {
    content: "BuildSystems";
    letter-spacing: 0.08rem;
    opacity: 0;
  }

  h3 {
    font-size: var(--secondary-msg-size-mobile);
  }

  .msg-secondary {
    font-size: var(--secondary-msg-size-mobile);
    line-height: var(--secondary-msg-line-height-mobile);
    min-height: 10svh;
  }

  .sticky {
    padding-top: var(--sticky-padding-mobile);
    a {
      padding-top: var(--sticky-padding-mobile);
    }
  }

  .image-text-grid {
    p {
      font-size: 1rem;
      line-height: 1.05rem;
    }
  }

  .table-grid {
    padding-left: var(--left-padding-mobile);
    padding-right: var(--right-padding-mobile);
    & ul {
      font-size: 1rem;
      line-height: 1.1rem;
    }
  }
}
