---
import BaseLayout from '../layouts/BaseLayout.astro';

const title = 'About';
const description = 'About your blog.';
const image = '/images/coverRendering.webp';
---
<BaseLayout title={title} description={description} heroImage={image} current="about">
	<div class="container">
	  <h1>About</h1>
	  <figure class="about-image">
		<img src="/images/coverRendering.webp" alt="BuildSystems rendering of a multi-story timber building" width="700">
		<figcaption>
		  BuildSystems rendering
		</figcaption>
   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Vitae ultricies leo integer malesuada nunc vel risus commodo viverra. Adipiscing enim eu turpis egestas pretium. Euismod elementum nisi quis eleifend quam adipiscing. In hac habitasse platea dictumst vestibulum. Sagittis purus sit amet volutpat. Netus et malesuada fames ac turpis egestas. Eget magna fermentum iaculis eu non diam phasellus vestibulum lorem. Varius sit amet mattis vulputate enim. Habitasse platea dictumst quisque sagittis. Integer quis auctor elit sed vulputate mi. Dictumst quisque sagittis purus sit amet.<\p>
	  </figure>
	</div>
  </BaseLayout>
  
  <style>
	.about-image {
	  float: right;
	  margin: -3em -7em 2em 2em;
	  max-width: 300px;
	}
  
	.about-image img {
	  border-radius: 8px;
	  margin-bottom: 1.5em;
	}
  
	@media (max-width: 1020px) {
	  .about-image {
		float: none;
		margin: 0 auto 2em;
	  }
	}
  </style>