---
import BaseLayout from "../layouts/BaseLayout.astro";
import PersonenCard from "../components/PersonenCard.astro";

const title = "BuildSystems | Personen";
const description = "Erfassen wir ökologische Anforderungen auf allen Ebenen und und betrachten die Gesamtwirkung der Maßnahmen zur Emissionsreduktion durch die sozioökonomische Perspektive.";
const image = "/images/buildsystems-team.jpg"
const current = "personen";
import WeitereFragen from "../components/CallToAction.astro"
---

<BaseLayout
  title={title}
  description={description}
  heroImage={image}
  current={current}>
  <h3 class="msg msg-secondary intro-breath">
    Wir vertreten nicht nur einen integralen Prozess in der Planung, wir leben Interdisziplinarität im Team: Jeder
    bringt einen Baustein der ganzheitlichen Betrachtung mit ein. Gemeinsam erfassen wir ökologische Anforderungen auf
    allen Ebenen und und betrachten die Gesamtwirkung der Maßnahmen zur Emissionsreduktion durch die sozioökonomische
    Perspektive.
  </h3>

  <div class="msg msg-primary">
    <h2 class="sticky">führt Kompetenzen, Prozesse und Tools zusammen.</h2>
  </div>

  <div class="cards-container">
    <PersonenCard
      imagePath="/src/assets/martin.png"
      name="Martin Bittmann"
      title="Dipl.-Ing. Architektur"
      description="Architekt Bay. Architektenkammer, Energieeffizienz-Experte, DGNB Consultant, Nachhaltiges Bauen in Holz, Energetische Betrachtungen, Projektmanagement & -entwicklung"
      linkedin="https://www.linkedin.com/in/martin-bittmann/"
    />
    <PersonenCard
      imagePath="/src/assets/julia.png"
      name="Julia Dorn"
      title="M.Sc. Urban Design, B.Sc. Architektur"
      description="DGNB Consultant, Urbane Transformation, Anforderungen EU Taxonomie und Nachhaltigkeitsreporting, Kommunikation, Akteursmanagement & Moderation"
      linkedin="https://www.linkedin.com/in/julia-j-dorn/"
    />
    <PersonenCard
      imagePath="/src/assets/daniel.jpg"
      name="Daniel Dieren"
      title="M.Sc. Bauingenieur, M.Sc. Architektur"
      description="Nachhaltiges Konstruieren, Ingenieurholzbau, Integrale Planung, Lebenszyklusbetrachtung"
      linkedin="https://www.linkedin.com/in/daniel-dieren-48a765116/"
    />
    <PersonenCard
      imagePath="/src/assets/dani.png"
      name="Daniel Locatelli"
      title="M.Sc. ITECH, Dipl. Architektur"
      description="Softwareentwicklung, Computational Design, Entwicklung digitaler Tools und Workflows"
      linkedin="https://www.linkedin.com/in/daniel-locatelli/"
    />
    <PersonenCard
      imagePath="/src/assets/tunca.jpeg"
      name="Tunca Beril Basaran"
      title="B.Sc. Regional Planning, B.Sc. Sociology, M.Sc. Urban Design"
      description="Zirkuläre Systeme und Urban Mining, Workshops und Strategieentwicklung, Social Impact zukunftsfähiges Bauen"
      linkedin="https://www.linkedin.com/in/ulrich-kneisl-292a60130/"
    />
    <PersonenCard
      imagePath="/src/assets/uli.png"
      name="Ulrich Kneisl"
      title="Dipl. Architektur"
      description="Sozial-ökologische Transformation im Wohnungsbau, Bauen im Bestand, Intersektionalität im gebauten Umfeld, Systemischen Ansätzen für die Bauwende"
      linkedin="https://www.linkedin.com/in/ulrich-kneisl-292a60130/"
    />
    <PersonenCard
      imagePath="/src/assets/vinzenz.png"
      name="Vinzenz Trimborn"
      title="B.Sc. Wirtschaftsinformatik"
      description="Advisor: Softwareentwicklung, Digitale Planung, Implementierung digitale Workflows"
      linkedin="https://www.linkedin.com/in/vinzenz-trimborn/"
    />
    <PersonenCard
      imagePath="/src/assets/andreas.png"
      name="Andreas Thoma"
      title="M.Sc. Architektur"
      description="Advisor: Computational Design, Digitale Fabrikation, Parametrische Systeme"
      linkedin="https://www.linkedin.com/in/andreas-thoma/"
    />
  </div>

  <WeitereFragen></WeitereFragen>
</BaseLayout>

<style>
  .cards-container {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    gap: 0.5rem;
    margin-left: 10%;
    margin-right: 10%;
    z-index: 2;
  }
  
  .msg-primary{
    margin-top: 0;
  }
  
  @media (max-width: 1280px) {
    .cards-container {
      margin-left: 5%;
      margin-right: 5%;
    }
  }

  @media (max-width: 920px) {
    .cards-container {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
</style>
