---
import Button from "./Button.astro";

export interface Props {
  buttonText: string;
  buttonLink: string;
  id: string;
  ariaLabel: string;
}

const { buttonText, buttonLink, id, ariaLabel } = Astro.props;
---

<div>
  <div class="read-more">
    <button class="plus-minus" id={"expand-button-" + id}
      ><svg class="icon">
        <use class="plus" xlink:href="/assets/icons.svg#plus"></use>
        <use class="minus hidden" xlink:href="/assets/icons.svg#minus"></use>
      </svg>
    </button>
    <span
      ><Button
        text={buttonText}
        link={buttonLink}
        icon="redirect"
        ariaLabel={ariaLabel}
        widthFitContent
      /></span
    >
  </div>
  <div id={"more-text-" + id} class="more-text">
    <slot />
  </div>
</div>

<style>
  .read-more {
    display: flex;
    align-items: center;
  }

  .more-text {
    padding-top: 1rem;
    font-size: 1.5rem;
    line-height: 1.2;
    height: 0;
    overflow: hidden;
    transition: all ease-in-out 0.15s;
  }

  .height-max-content {
    height: max-content;
  }

  .plus-minus {
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--text-main);
    border-radius: 50%;
    aspect-ratio: 1/1;
    height: 26px;
    padding: 0;
    margin-right: 1rem;
    cursor: pointer;
    border: 0;
  }

  .plus-minus:hover {
    background-color: var(--background-body);
  }

  .icon {
    height: 26px;
    width: 26px;
    fill: var(--background-body);
  }

  .icon:hover {
    fill: var(--text-main);
  }

  .hidden {
    display: none;
  }

  @media (max-width: 1280px) {
  }
  @media (max-width: 1100px) {
  }
  @media (max-width: 920px) {
  }
  @media (max-width: 625px) {
    .more-text {
      font-size: 1.2rem;
    }
  }
  @media (max-width: 420px) {
    .more-text {
      font-size: 1rem;
    }
  }
</style>
