<footer>
  <address class="text">BuildSystems GmbH<br>Furtanger 4<br>D-82205 Gilching</address>
  <div class="links">
    <a
      class="text"
      href="/impressum">
      <div>Impressum<br>Datenschutz&shy;erklärung</div>
    </a>
    <div class="social-links">
      <a
        href="https://www.linkedin.com/company/build-systems-de/"
        target="_blank">
        <span class="sr-only">Follow BuildSystems on LinkedIn</span>
        <svg class="icon">
          <use xlink:href="/assets/icons.svg#linkedin"></use>
        </svg>
      </a>
      <a
        href="https://github.com/build-systems"
        target="_blank">
        <span class="sr-only">Check BuildSystems's GitHub repo</span>
        <svg class="icon"><use xlink:href="/assets/icons.svg#github"></use></svg>
      </a>
    </div>
  </div>
</footer>
<style>
  footer {
    position: relative;
    display: flex;
    background: var(--background-cards);
    margin: 1rem;
    padding: 1rem;
    gap: 2rem;
    border-radius: 1rem;
    text-align: left;
    z-index: 2;
  }

  address {
    font-style: normal;
    vertical-align: top;
    display: flex;
    flex-direction: column;
  }

  .text {
    line-height: 130%;
    font-size: 0.9rem;
    white-space: pre-line;
    text-align: left;
    text-decoration: none;
  }

  .social-links {
    display: flex;
    justify-content: start;
    gap: 0.5em;
  }

  .icon {
    width: 1rem;
    aspect-ratio: 1/1;
  }

  a:has(.icon) {
    max-height: 1rem;
  }
</style>
