---
import Button from "./Button.astro";
import { Image } from "astro:assets";
import heroRendering from "../assets/multistory-timber-building.jpg";
---

<div class="footer-container">
  <!-- <div class="image-container">
    <Image
      class="hero-image"
      src={heroRendering}
      alt="Rendering of a multi-story timber building"
    />
  </div> -->
  <footer>
    <div class="footer-content">
      <div class="left-block-wrapper">
        <div class="left-block">
          <div class="address-nav">
            <section
              class="address-contact"
              aria-label="Kontakt, linkedIn and GitHub"
            >
              <div class="action">
                <h3>Sie haben weitere Fragen?</h3>
                <Button
                  text="Schreiben Sie uns eine Mail!"
                  link="mailto:mail@buildsystems.de"
                  justifyCenter={true}
                />
              </div>
              <div class="address-phrase">
                Wir freuen uns auf den Austausch mit Ihnen!
              </div>
              <div class="links">
                <address>
                  <div class="social-links">
                    <a
                      href="https://www.linkedin.com/company/build-systems-de/"
                      target="_blank"
                      aria-label="Follow BuildSystems on LinkedIn"
                    >
                      <svg class="icon">
                        <use xlink:href="/assets/icons.svg#linkedin"></use>
                      </svg>
                    </a>
                    <a
                      href="https://github.com/build-systems"
                      target="_blank"
                      aria-label="Check BuildSystems's GitHub repo"
                    >
                      <svg class="icon"
                        ><use xlink:href="/assets/icons.svg#github"></use></svg
                      >
                    </a>
                  </div>
                </address>
              </div>
              <address>
                BuildSystems GmbH<br />Furtanger 4<br />D-82205 Gilching
              </address>
            </section>
          </div>
        </div>
      </div>
      <nav>
        <a href="/"> Home</a>
        <a href="/services"> Services</a>
        <a href="/workshops"> Workshops</a>
        <a href="/team"> Team</a>
        <a href="/ourwork"> Our Work</a>
        <a href="/toolbox"> Toolbox</a>
        <a href="/impressum" class="impressum">
          Impressum Datenschutzerklärung</a
        >
      </nav>
      <section class="unsere-partner" aria-label="Unsere Partner">
        <h2>Let’s BuildSmart­Sustainable­Systems!</h2>
        <div class="phrase-logo-wrapper">
          <p>Wir sind Teil von</p>
          <div class="logos-container">
            <a
              href="https://www.byak.de/"
              target="_blank"
              class="partner-logo"
              title="Bayerische Architektenkammer"
              aria-label="Link führt zu byak.de - Bayerische Architektenkammer"
            >
              <img
                src="/assets/bayerische-architektenkammer-logo.svg"
                alt="Bayerische Architektenkammer logo"
              />
            </a>
            <a
              href="https://www.dena.de/"
              target="_blank"
              class="partner-logo"
              title="Deutsche Energie-Agentur GmbH"
              aria-label="Link führt zu dena.de - Deutsche Energie-Agentur GmbH"
            >
              <img
                class="dena-logo"
                src="/assets/dena-logo.svg"
                alt="dena logo"
              />
            </a>
            <a
              href="https://www.energie-effizienz-experten.de/"
              target="_blank"
              class="partner-logo"
              title="Energie Effizienz Experten"
              aria-label="Link führt zu energie-effizienz-experten.de - Energie Effizienz Experten"
            >
              <img
                src="/assets/energie-effizienz-experten-logo.svg"
                alt="Energie Effizienz Experten logo"
              />
            </a>
            <a
              href="https://www.bayern-innovativ.de/"
              target="_blank"
              class="partner-logo"
              title="Bayern Innovativ GmbH"
              aria-label="Link führt zu bayern-innovativ.de - Bayern Innovativ GmbH"
            >
              <img
                src="/assets/bayern-innovativ-logo.svg"
                alt="Bayern Innovativ logo"
              />
            </a>
            <a
              href="https://www.dgnb.de/"
              target="_blank"
              class="partner-logo"
              title="Deutsche Gesellschaft für Nachhaltiges Bauen"
              aria-label="Link führt zu dgnb.de - Deutsche Gesellschaft für Nachhaltiges Bauen"
            >
              <img
                class="dgnb-logo"
                src="/assets/dgnb-logo.svg"
                alt="DGNB logo"
              />
            </a>
          </div>
        </div>
      </section>
    </div>
  </footer>
</div>

<style>
  .footer-container {
    margin-top: 20svh;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .image-container {
    position: absolute;
    flex: 1;
    height: 100%;
    overflow: hidden;
  }

  .hero-image {
    min-height: 50%;
    object-fit: cover;
    -webkit-mask-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0),
      rgba(0, 0, 0, 1)
    );
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1));
    z-index: 1;
  }

  .action {
    display: flex;
    flex-direction: column;
    width: fit-content;
    gap: 0.3rem;
    z-index: 3;
    h3 {
      color: white;
    }
  }

  footer {
    display: flex;
    flex: 1 0;
    width: calc(100% - 2rem);
    background: var(--background-cards);
    margin-bottom: 1rem;
    padding: 2rem 2rem;
    border-radius: 0.6rem;
    z-index: 2;
  }

  h2 {
    margin-top: 0;
    padding: 0;
  }

  h3 {
    font-size: 1.4rem;
  }

  .footer-content {
    display: flex;
    flex: 1 0;
    flex-wrap: wrap;
    /* column-gap: clamp(0.5rem, 4svw, 5rem); */
    row-gap: clamp(0.5rem, 4svh, 2rem);
    justify-content: space-between;
  }

  .address-phrase {
    /* width: fit-content; */
    line-height: 1;
    text-wrap: balance;
    padding: 1rem 0;
  }

  .address-contact {
    position: relative;
    display: flex;
    flex-direction: column;
    text-align: left;
    gap: 1rem;
  }

  address {
    font-style: normal;
    vertical-align: top;
    display: flex;
    flex-direction: column;
    font-size: 1rem;
    line-height: 120%;
    gap: 0.5rem;
  }

  a {
    text-decoration: none;
    display: flex;
    margin-bottom: 0;
  }

  nav {
    /* flex: 1; */
    line-height: 120%;
    min-width: min-content;
    font-size: 1rem;
    white-space: pre-line;
    text-align: left;
    align-content: end;
  }

  .impressum {
    padding-top: 0.25rem;
    width: min-content;
  }

  .links {
    padding-bottom: 1rem;
  }

  .social-links {
    display: flex;
    gap: 0.5em;
  }

  .icon {
    width: 1rem;
    aspect-ratio: 1/1;
    fill: var(--text-secondary);
  }

  .unsere-partner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .logos-container {
    display: grid;
    justify-content: center;
    column-gap: clamp(0.5rem, 4%, 4rem);
    row-gap: clamp(0.5rem, 10%, 4rem);
    grid-template-columns: repeat(5, minmax(0, 1fr));
  }

  .partner-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 150px;
  }

  .dena-logo {
    width: clamp(30px, 75%, 300px);
  }

  .dgnb-logo {
    width: clamp(100px, 90%, 300px);
  }

  .left-block-wrapper {
    display: flex;
  }
  .left-block {
    display: flex;
    width: 100%;
    flex-direction: column;
  }

  .address-nav {
    display: flex;
    justify-content: space-between;
  }

  @media (max-width: 1024px) {
    .logos-container {
      column-gap: clamp(0.5rem, 2%, 4rem);
      row-gap: clamp(0.5rem, 5%, 4rem);
    }
  }

  @media (max-width: 625px) {
    .footer-container {
      margin-top: 10svh;
    }

    .logos-container {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      row-gap: 3rem;
    }
    .partner-logo {
      width: auto;
      min-width: auto;
      flex: 0 1 150px;
    }
  }

  @media (max-width: 420px) {
    footer {
      margin: 2rem 0.5rem 0.5rem 0.5rem;
    }
  }
</style>
