<style>
    img {
      display: block;
      width: 75px;
    }
  
    @media screen and (max-width: 520px) {
      img {
        display: none;
      }
    }
  </style>
    <a href="/">
    <svg class="icon" width="50" height="50">
        <use xlink:href="/public/assets/icons.svg#bs-logo-round" />
        <div class="sr-only">BuildSystems Logo</div>
      </svg>
  </a>

  