<style>
  .header-container {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    padding: 0.8rem 1rem;
    z-index: 4;
    color: #fafafa;
  }

  .logo-container {
    display: flex;
    font-size: 2.7rem;
    user-select: none;
    -webkit-transition-property: all;
    -webkit-transition-duration: 1s;
  }

  .logo {
    display: inline;
  }

  .logo-mono {
    font-family: var(--font-family-secondary);
    display: inline;
  }

  a {
    text-decoration: none;
  }

  a:hover {
    color: var(--text-main);
  }

  @media (max-width: 1280px) {
    .header-container {
      padding: 0.6rem 1rem;
    }
    .logo-container {
      font-size: var(--primary-msg-size-desktop);
    }
  }

  @media (max-width: 625px) {
    .header-container {
      padding: var(--sticky-padding-tablet) 5%;
    }
    .logo-container {
      font-size: var(--primary-msg-size-tablet);
    }
  }

  @media (max-width: 420px) {
    .header-container {
      padding: var(--sticky-padding-mobile) 10px;
    }
    .logo-container {
      font-size: var(--primary-msg-size-mobile);
    }
  }
</style>

<div class="header-container blend">
  <a href="/" aria-label="BuildSystems logo. Redirects to homepage.">
    <h1 class="logo-container">
      <div class="logo">Build</div>
      <div class="logo-mono">Systems</div>
    </h1>
  </a>
</div>
