---
import type { ImageMetadata } from "astro";
import { Image } from "astro:assets";
import type { OrganizationCard } from "../lib/notion-interfaces";
import { getPhotoPath } from "../lib/blog-helpers";

interface Props {
  item: OrganizationCard;
  showDescription?: boolean;
  sizeImage?: number;
}

const { item, showDescription = true, sizeImage = 120 } = Astro.props;

const images = import.meta.glob<{ default: ImageMetadata }>(
  "/src/assets/notion/**/*.{jpeg,jpg,png,tiff,webp,gif,svg,avif}"
);

const imagePath = getPhotoPath(item.Photo?.Url!);
const imageSrc = images[imagePath] ? images[imagePath]() : null;

const name = item.Name;
const description = item.Description;
const linkedin = item.LinkedIn;
const website = item.Website;
const linkTarget = website || linkedin || "#";
---

<a
  href={linkTarget}
  target="_blank"
  rel="noopener noreferrer"
  aria-label={"Visit " + name}
  class="flex shrink-0 grow transform items-center justify-center rounded-xl bg-[var(--background-cards)] p-6 shadow-md transition duration-300 hover:shadow-lg hover:brightness-105"
>
  {
    imageSrc ? (
      <Image
        src={imageSrc}
        alt={`${name} logo`}
        class="max-h-20! lg:h-16! lg:w-auto xl:h-16!"
      />
    ) : (
      <div class="mb-4 flex items-center justify-center rounded-full bg-gray-200 text-sm text-gray-500">
        No Image
      </div>
    )
  }
</a>
