---
import Button from "./Button.astro";
---

<div class="">
  <p>
    <slot />
  </p>
  <div class="read-more">
    <span>+</span><span
      ><Button text="Team" link="/team" icon="redirect" widthFitContent /></span
    >
  </div>
</div>

<script></script>

<style>
  .read-more {
    display: flex;
  }
</style>
