<div class="animation-container">
  <svg
    viewBox="0 0 958 243"
    fill="none"
    preserveAspectRatio="xMidYMax meet">
    <path
      d="M957 121.25C957 54.9758 903.275 1.25 837 1.25C770.726 1.25 717 54.9758 717 121.25H599.014C599.014 54.9758 545.288 1.25 479.014 1.25C412.74 1.25 359.014 54.9758 359.014 121.25H241.027C241.027 54.9758 187.301 1.25 121.027 1.25C54.7527 1.25 1.02686 54.9758 1.02686 121.25"
      stroke="#D9D9D9"
      stroke-width="2"
      stroke-miterlimit="10"
    ></path>
    <path
      d="M957 121.25C957 187.524 903.275 241.25 837 241.25C770.726 241.25 717 187.524 717 121.25H599.014C599.014 187.524 545.288 241.25 479.014 241.25C412.74 241.25 359.014 187.524 359.014 121.25H241.027C241.027 187.524 187.301 241.25 121.027 241.25C54.7527 241.25 1.02686 187.524 1.02686 121.25"
      stroke="#D9D9D9"
      stroke-width="2"
      stroke-miterlimit="10"
    ></path>
    <g class="txt-one-horizontal">
      <text
        x="63.97"
        y="108"
        font-size="20"
        >Ökologische</text
      >
      <text
        x="65.97"
        y="130"
        font-size="20"
        >Bautätigkeit</text
      >
      <text
        x="79.97"
        y="150"
        font-size="20"
        >skalieren</text
      >
    </g>
    <g class="txt-two-horizontal">
      <text
        x="417.34"
        y="100"
        >Ökonomische</text
      >
      <text
        x="403.99"
        y="120"
        >Machbarkeit und</text
      >
      <text
        x="393.96"
        y="140"
        >Planungssicherheit</text
      >
      <text
        x="427.69"
        y="160"
        >garantieren</text
      >
    </g>
    <g class="txt-three-horizontal">
      <text
        x="784.31"
        y="100"
        >Konformität</text
      >
      <text
        x="781.02"
        y="120"
        >mit ESG und</text
      >
      <text
        x="763.12"
        y="140"
        >Förderrichtlinien</text
      >
      <text
        x="773.19"
        y="160"
        >gewährleisten</text
      >
    </g>
    <style>
      text {
        fill: white;
        font-size: 20px;
        font-family: var(--font-family-primary);
        font-weight: 500;
        line-height: 100%;
        text-align: center;
      }
    </style>
  </svg>
</div>

<style>
  .animation-container {
    width: 100%;
    height: 100%;
  }

  path {
    stroke-dasharray: 1367.1065;
    stroke-dashoffset: 1367.1065;
    animation: path-horizontal 10s ease-in-out infinite;
  }

  /* Because Safari does not accept negative values */
  /* I had to calculate the lenght of the curves and add manually */
  @keyframes path-horizontal {
    from {
      /* I could also flip the path on Figma and start here from zero */
      stroke-dashoffset: 1367.1065;
    }
    15% {
      stroke-dashoffset: 1744.0975;
    }
    30% {
      stroke-dashoffset: 1862.0975;
    }
    45% {
      stroke-dashoffset: 2239.0885;
    }
    60% {
      stroke-dashoffset: 2357.0885;
    }
    75% {
      stroke-dashoffset: 2734.0795;
    }
    80% {
      stroke-dashoffset: 3111.0705;
    }
    85% {
      stroke-dashoffset: 3229.0705;
    }
    90% {
      stroke-dashoffset: 3606.0615;
    }
    95% {
      stroke-dashoffset: 3724.0615;
    }
    to {
      stroke-dashoffset: 4101.0525;
    }
  }

  .txt-one-horizontal {
    opacity: 0;
    animation: txt-one-horizontal 10s ease-in-out infinite;
  }

  @keyframes txt-one-horizontal {
    from {
      opacity: 0;
      transform: translateX(-25px);
    }
    15% {
      opacity: 1;
      transform: translateX(0);
    }
    75% {
      opacity: 1;
      transform: translateX(0);
    }
    80% {
      opacity: 0;
      transform: translateX(25px);
    }
  }

  .txt-two-horizontal {
    opacity: 0;
    animation: txt-two-horizontal 10s ease-in-out infinite;
  }

  @keyframes txt-two-horizontal {
    30% {
      opacity: 0;
      transform: translateX(-25px);
    }
    45% {
      opacity: 1;
      transform: translateX(0);
    }
    85% {
      opacity: 1;
      transform: translateX(0);
    }
    90% {
      opacity: 0;
      transform: translateX(25px);
    }
  }

  .txt-three-horizontal {
    opacity: 0;
    animation: txt-three-horizontal 10s ease-in-out infinite;
  }

  @keyframes txt-three-horizontal {
    60% {
      opacity: 0;
      transform: translateX(-25px);
    }
    75% {
      opacity: 1;
      transform: translateX(0);
    }
    95% {
      opacity: 1;
      transform: translateX(0);
    }
    to {
      opacity: 0;
      transform: translateX(25px);
    }
  }
</style>
