<div class="animation-container">
  <svg
    viewBox="0 0 958 243"
    fill="none"
    preserveAspectRatio="xMidYMax meet">
    <path
      d="M957 121.25C957 54.9758 903.275 1.25 837 1.25C770.726 1.25 717 54.9758 717 121.25H599.014C599.014 54.9758 545.288 1.25 479.014 1.25C412.74 1.25 359.014 54.9758 359.014 121.25H241.027C241.027 54.9758 187.301 1.25 121.027 1.25C54.7527 1.25 1.02686 54.9758 1.02686 121.25"
      stroke="#D9D9D9"
      stroke-width="2"
      stroke-miterlimit="10"
    ></path>
    <path
      d="M957 121.25C957 187.524 903.275 241.25 837 241.25C770.726 241.25 717 187.524 717 121.25H599.014C599.014 187.524 545.288 241.25 479.014 241.25C412.74 241.25 359.014 187.524 359.014 121.25H241.027C241.027 187.524 187.301 241.25 121.027 241.25C54.7527 241.25 1.02686 187.524 1.02686 121.25"
      stroke="#D9D9D9"
      stroke-width="2"
      stroke-miterlimit="10"
    ></path>
    <foreignObject
      x="61"
      y="87"
      width="120"
      height="70"
      class="txt-one">
      <p>Ökologische Bautätigkeit skalieren</p>
    </foreignObject>
    <foreignObject
      x="393"
      y="77"
      width="172"
      height="100"
      class="txt-two">
      <p>Ökonomische Machbarkeit und Planungssicherheit garantieren</p>
    </foreignObject>
    <foreignObject
      x="761.2"
      y="76"
      width="150"
      height="90"
      class="txt-three">
      <p>Konformität<br />mit ESG und Förderrichtlinien gewährleisten</p>
    </foreignObject>

    <style>
      p {
        padding: 4px 0;
        margin: 0;
        margin-block-start: 0;
        margin-block-end: 0;
        fill: white;
        font-size: 20px;
        font-family: var(--font-family-primary);
        line-height: 100%;
        text-align: center;
      }
    </style>
  </svg>
</div>

<style>
  .animation-container {
    width: 100%;
    height: 100%;
  }

  path {
    stroke-dasharray: 1367.1065673828125;
    stroke-dashoffset: -1367.1065673828125;
    animation: path 10s ease-in-out infinite;
  }

  @keyframes path {
    from {
      stroke-dashoffset: -1367.1065673828125;
    }
    15% {
      stroke-dashoffset: -990.1155;
    }
    30% {
      stroke-dashoffset: -872.1155;
    }
    45% {
      stroke-dashoffset: -495.1245;
    }
    60% {
      stroke-dashoffset: -377.1245;
    }
    75% {
      stroke-dashoffset: 0;
    }
    80% {
      stroke-dashoffset: 377.1245;
    }
    85% {
      stroke-dashoffset: 495.1245;
    }
    90% {
      stroke-dashoffset: 872.1155;
    }
    95% {
      stroke-dashoffset: 990.1155;
    }
    to {
    stroke-dashoffset: 1367.1065673828125;
    }
  }
  @keyframes txt-one {
    from {
      opacity: 0;
      transform: translateX(-25px)
    }
    15% {
      opacity: 1;
      transform: translateX(0)
    }
    30% {
      opacity: 1;
    }
    45% {
      opacity: 1;
    }
    60% {
      opacity: 1;
    }
    75% {
      opacity: 1;
      transform: translateX(0)
    }
    80% {
      opacity: 0;
      transform: translateX(25px)
    }
    85% {
      opacity: 0;
    }
    90% {
      opacity: 0;
    }
    95% {
      opacity: 0;
    }
    to {
      opacity: 0;
    }
  }

  .txt-one {
    animation: txt-one 10s ease-in-out infinite;
  }

  @keyframes txt-two {
    from {
      opacity: 0;
    }
    15% {
      opacity: 0;
    }
    30% {
      opacity: 0;
      transform: translateX(-25px)
    }
    45% {
      opacity: 1;
      transform: translateX(0)
    }
    60% {
      opacity: 1;
    }
    75% {
      opacity: 1;
    }
    80% {
      opacity: 1;
    }
    85% {
      opacity: 1;
      transform: translateX(0)
    }
    90% {
      opacity: 0;
      transform: translateX(25px)
    }
    95% {
      opacity: 0;
    }
    to {
      opacity: 0;
    }
  }

  .txt-two {
    animation: txt-two 10s ease-in-out infinite;
  }

  @keyframes txt-three {
    from {
      opacity: 0;
    }
    15% {
      opacity: 0;
    }
    30% {
      opacity: 0;
    }
    45% {
      opacity: 0;
    }
    60% {
      opacity: 0;
      transform: translateX(-25px)
    }
    75% {
      opacity: 1;
      transform: translateX(0)
    }
    80% {
      opacity: 1;
    }
    85% {
      opacity: 1;
    }
    90% {
      opacity: 1;
    }
    95% {
      opacity: 1;
      transform: translateX(0)
    }
    to {
      opacity: 0;
      transform: translateX(25px)
    }
  }

  .txt-three {
    animation: txt-three 10s ease-in-out infinite;
  }

  


</style>
