<div class="animation-container">
  <svg viewBox="0 0 242 960" fill="none" preserveAspectRatio="xMidYMax meet">
    <path
      d="M121.527 956.973C187.801 956.973 241.527 903.247 241.527 836.973C241.527 770.699 187.801 716.973 121.527 716.973L121.527 598.987C187.801 598.987 241.527 545.261 241.527 478.987C241.527 412.712 187.801 358.987 121.527 358.987L121.527 241C187.801 241 241.527 187.274 241.527 121C241.527 54.7253 187.801 0.999515 121.527 0.999512"
      stroke="#D9D9D9"
      stroke-width="2"
      stroke-miterlimit="10"></path>
    <path
      d="M121.527 956.973C55.2527 956.973 1.52686 903.247 1.52686 836.973C1.52686 770.699 55.2527 716.973 121.527 716.973L121.527 598.987C55.2527 598.987 1.52687 545.261 1.52688 478.987C1.52688 412.712 55.2527 358.987 121.527 358.987L121.527 241C55.2527 241 1.52689 187.274 1.52689 121C1.52689 54.7253 55.2527 0.999509 121.527 0.999512"
      stroke="#D9D9D9"
      stroke-width="2"
      stroke-miterlimit="10"></path>
    <g class="txt-one">
      <text x="63.97" y="108" font-size="20">Ökologische</text>
      <text x="65.97" y="130" font-size="20">Bautätigkeit</text>
      <text x="79.97" y="150" font-size="20">skalieren</text>
    </g>
    <g class="txt-two">
      <text x="59.58" y="460">Ökonomische</text>
      <text x="46.1" y="480">Machbarkeit und</text>
      <text x="35.68" y="500">Planungssicherheit</text>
      <text x="70.19" y="520">garantieren</text>
    </g>
    <g class="txt-three">
      <text x="68.53" y="816">Konformität</text>
      <text x="65.8" y="836">mit ESG und</text>
      <text x="47.68" y="856">Förderrichtlinien</text>
      <text x="58.19" y="876">gewährleisten</text>
    </g>
    <style>
      text {
        fill: white;
        font-size: 20px;
        font-family: var(--font-family-primary);
        line-height: 100%;
        text-align: center;
      }
    </style>
  </svg>
</div>

<style>
  .animation-container {
    width: 100%;
    height: 100%;
  }

  path {
    stroke-dasharray: 1367.1065;
    stroke-dashoffset: 1367.1065;
    animation: path 10s ease-in-out infinite;
  }

  @keyframes path {
    from {
      stroke-dashoffset: 1367.1065;
    }
    15% {
      stroke-dashoffset: 1744.0975;
    }
    30% {
      stroke-dashoffset: 1862.0975;
    }
    45% {
      stroke-dashoffset: 2239.0885;
    }
    60% {
      stroke-dashoffset: 2357.0885;
    }
    75% {
      stroke-dashoffset: 2734.0795;
    }
    80% {
      stroke-dashoffset: 3111.0705;
    }
    85% {
      stroke-dashoffset: 3229.0705;
    }
    90% {
      stroke-dashoffset: 3606.0615;
    }
    95% {
      stroke-dashoffset: 3724.0615;
    }
    to {
      stroke-dashoffset: 4101.0525;
    }
  }

  .txt-one {
    opacity: 0;
    animation: txt-one 10s ease-in-out infinite;
  }

  @keyframes txt-one {
    from {
      opacity: 0;
      transform: translateY(-25px);
    }
    15% {
      opacity: 1;
      transform: translateY(0);
    }
    75% {
      opacity: 1;
      transform: translateY(0);
    }
    80% {
      opacity: 0;
      transform: translateY(25px);
    }
  }

  .txt-two {
    opacity: 0;
    animation: txt-two 10s ease-in-out infinite;
  }

  @keyframes txt-two {
    30% {
      opacity: 0;
      transform: translateY(-25px);
    }
    45% {
      opacity: 1;
      transform: translateY(0);
    }
    85% {
      opacity: 1;
      transform: translateY(0);
    }
    90% {
      opacity: 0;
      transform: translateY(25px);
    }
  }

  .txt-three {
    opacity: 0;
    animation: txt-three 10s ease-in-out infinite;
  }

  @keyframes txt-three {
    60% {
      opacity: 0;
      transform: translateY(-25px);
    }
    75% {
      opacity: 1;
      transform: translateY(0);
    }
    95% {
      opacity: 1;
      transform: translateY(0);
    }
    to {
      opacity: 0;
      transform: translateY(25px);
    }
  }
</style>
